<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT umbracoSettings ANY>
<!ATTLIST umbracoSettings id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT defaultContent ANY>
<!ATTLIST defaultContent id ID #REQUIRED>
<!ELEMENT team ANY>
<!ATTLIST team id ID #REQUIRED>
<!ELEMENT branch ANY>
<!ATTLIST branch id ID #REQUIRED>
<!ELEMENT branchTeam ANY>
<!ATTLIST branchTeam id ID #REQUIRED>
]>
<root id="-1">
  <home id="1083" key="5bf58475-0322-4c71-be3e-49c24e18bd8e" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-04-25T13:34:33" updateDate="2018-04-25T13:49:06" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1081" creatorName="worldcup2018" writerName="worldcup2018" writerID="0" template="1082" nodeTypeAlias="home" isPublished="true">
    <featureImage><![CDATA[umb://media/709d4e1243194563939a639be8687713]]></featureImage>
    <mainContent><![CDATA[<p>When the draw for the 1998 World Cup pulled together the USA and Iran in Group F, the president of the US Soccer Federation called it "the mother of all games".</p>
<p>At the same time the political regime in Tehran quaked in their boots. Six months later, the match didn't disappoint. Since the Iranian revolution that ousted the pro-American Shah in 1979, relations between the two countries had become hostile. Nineteen years later and a football match between the two nations provided FIFA with a red-hot political potato that would require some very careful juggling.</p>
<p>Iranian-born Mehrdad Masoudi was a FIFA media officer for the match but, given the diplomatic and security issues surrounding the game in Lyon, his responsibilities were far more wide-ranging.</p>
<p>"One of the first problems was that Iran were team B and the USA were team A," explains Masoudi. "According to FIFA regulations team B should walk towards team A for the pre-match handshakes, but Iran's Supreme Leader Khamenei gave express orders that the Iranian team must not walk towards the Americans."</p>]]></mainContent>
    <title><![CDATA[Welcome Page]]></title>
    <branchTeam id="1094" key="ebac5ba8-7476-41c6-b0e2-e68d006727b0" parentID="1083" level="2" creatorID="0" sortOrder="0" createDate="2018-04-25T14:01:09" updateDate="2018-04-25T14:01:12" nodeName="Teams" urlName="teams" path="-1,1083,1094" isDoc="" nodeType="1090" creatorName="worldcup2018" writerName="worldcup2018" writerID="0" template="1093" nodeTypeAlias="branchTeam" isPublished="true">
      <featureImage><![CDATA[umb://media/709d4e1243194563939a639be8687713]]></featureImage>
      <mainContent><![CDATA[<p>Teams for the world cup</p>]]></mainContent>
      <title><![CDATA[Teams]]></title>
      <team id="1095" key="ba3abf9f-9559-4ad7-bc8c-52eee2c484d2" parentID="1094" level="3" creatorID="0" sortOrder="0" createDate="2018-04-25T14:19:16" updateDate="2018-04-25T14:19:37" nodeName="England" urlName="england" path="-1,1083,1094,1095" isDoc="" nodeType="1088" creatorName="worldcup2018" writerName="worldcup2018" writerID="0" template="1091" nodeTypeAlias="team" isPublished="true">
        <featureImage><![CDATA[umb://media/709d4e1243194563939a639be8687713]]></featureImage>
        <mainContent><![CDATA[<p><span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</span></p>]]></mainContent>
        <title><![CDATA[England]]></title>
      </team>
      <team id="1096" key="0e1ee075-e240-418f-b4de-12a028f70fd4" parentID="1094" level="3" creatorID="0" sortOrder="1" createDate="2018-04-25T14:44:03" updateDate="2018-04-25T14:44:03" nodeName="Brazil" urlName="brazil" path="-1,1083,1094,1096" isDoc="" nodeType="1088" creatorName="worldcup2018" writerName="worldcup2018" writerID="0" template="1091" nodeTypeAlias="team" isPublished="true">
        <featureImage><![CDATA[umb://media/709d4e1243194563939a639be8687713]]></featureImage>
        <mainContent><![CDATA[<p>Brazil</p>]]></mainContent>
        <title><![CDATA[Brazil]]></title>
      </team>
      <team id="1098" key="e6160888-bd3c-42fe-88ab-35757e70036e" parentID="1094" level="3" creatorID="0" sortOrder="2" createDate="2018-04-25T15:25:36" updateDate="2018-04-25T15:25:36" nodeName="Spain" urlName="spain" path="-1,1083,1094,1098" isDoc="" nodeType="1088" creatorName="worldcup2018" writerName="worldcup2018" writerID="0" template="1091" nodeTypeAlias="team" isPublished="true">
        <featureImage><![CDATA[umb://media/709d4e1243194563939a639be8687713]]></featureImage>
        <mainContent><![CDATA[<p>Spain</p>]]></mainContent>
        <title><![CDATA[Spain]]></title>
      </team>
    </branchTeam>
    <page id="1097" key="e3c1d0f0-24b0-4de2-a4c2-66b431d7c23a" parentID="1083" level="2" creatorID="0" sortOrder="1" createDate="2018-04-25T14:58:21" updateDate="2018-04-25T15:04:54" nodeName="Contact" urlName="contact" path="-1,1083,1097" isDoc="" nodeType="1069" creatorName="worldcup2018" writerName="worldcup2018" writerID="0" template="1070" nodeTypeAlias="page" isPublished="true">
      <featureImage><![CDATA[umb://media/709d4e1243194563939a639be8687713]]></featureImage>
      <mainContent><![CDATA[<p><span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</span></p>]]></mainContent>
      <title><![CDATA[Contact]]></title>
    </page>
  </home>
</root>